* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

header {

    background: white;
    padding: 20px;
}

body {
    background: rgb(143, 251, 242);
}

header > h1 {
    color: blue;
    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


.score-board {
    margin: 20px auto;
    border: 5px solid white;
    border-radius: 4px;
    text-align: center;
    width: 300px;
    color: white;
    font-size: 50px;
    padding: 15px 20px;
    font-family: sans-serif;
    position: relative;

}


.badge {
    background: red;
    color: white;
    font-size: 20px;
    padding: 2px 10px;
    font-family: sans-serif;

}

#user-label {
    position: absolute;
    top: 30px;
    left: -25px;

}

#computer-label {
    position: absolute;
    top: 30px;
    right: -30px;
}

.result {
   font-size: 40px;
    color: white;
}

.result > p {
    text-align: center;
    font-family: sans-serif;
    font-weight: bolder;
    
}

.choices {
    margin: 50px 0;
    text-align: center;
}

.choice { 
    border: 6px solid white;
    border-radius: 50%;
    padding: 40px;
    display: inline-block;
    margin: 0 25px;
    transition: all 0.3s ease;

}

.choice:hover {
    cursor: pointer;
    background: violet;
}

#action-message {
    text-align: center;
    color: rgb(131, 27, 27);
    font-family: sans-serif;
    font-size: 40px;
    font-weight: bold;
    padding: 30px;
}

.green-glow {
    border: 4px solid greenyellow;
    box-shadow: 0 0 10px #31b43a;
}

.red-glow {
    border: 4px solid red;
    box-shadow: 0 0 10px #d01115 ;
}

.gray-glow {
    border: 4px solid gray;
    box-shadow: 0 0 10px #25292b;
}

